

:root {
    --text : #fff;
}

.movie__desc {
  color: var(--text);
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.movies__list {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: 0.4rem;
}

.movies__list img {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  opacity: 0.9;
  cursor: pointer;
  transition: 1s;
}

/* Hover */
.movies__list img:hover {
  transform: scale(1.1);
  z-index: 4;
}

.movies__list::-webkit-scrollbar {
  display: none;
}




.movie__container {
  position: relative;
}

.movie__content span {
  position: absolute;
  cursor: pointer;
  bottom: 5%;
  left:2%;
  /* transform: translate(-50%, -50%); */
}


.movie__content p {

  position: absolute;
  bottom: 0;
  top: 60%;  
  left: 1%;
  color: var(--text);
  font-size: 0.8rem;
      
}

.fas , .fa-plus {
      color: var(--text);
}