





:root {
    --btn : #E50914;
    --text : #fff;
    --background :#000;
    --input : #333333;

    

}

/* Container */


.signup__container {

    background-image: url('../../../public/assets/images/IN-en-20220111-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem;


}


.btn {
     
  
   margin:0 auto;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   /* align-items: center; */
   /* border: 1px solid red; */
   background-color: var(--background);  
   padding: 0.6rem;
   border-radius: 3px;
   

}

.input__data {
       display: flex;
       flex-direction: column;
       justify-content: center;
       background-color: var(--background);

}

.input__data h2 {
       color: var(--text);
       font-size: 1.2rem;
       text-align: left;
       margin-bottom: 1rem;
}

.input__data > input {

        outline: none;
        border: none;
        border-radius: 3px;
        padding: 0.2rem;
        font-size: 0.7rem;
        background-color: var(--input);
        color: #fff;
        margin-bottom: 1rem;
       


}

.submit {
      background-color: var(--btn);
      border: none;
      outline: none;
      color: var(--text);
      border-radius: 3px;
      text-align: center;
      padding: 0.3rem;
      font-size: 0.6rem;
      font-weight: 700;
      cursor: pointer;
      margin-bottom: 0.3rem;
}

.not__account {

      color: var(--text);
      font-size: 0.5rem;
      text-align: left;

}

.signup {
      cursor: pointer;
}