


:root {
      --arrows : #fff;
}

.slider__image {

     width: 95%;
     height: 300px;
     border-radius: 4px;
     object-fit: cover;
  

    
}

.slider__container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

}

.slider__arrows  i{

      color: var(--arrows);
      font-size: 1.5rem;
      cursor: pointer;
      
}