


:root {
      --arrows : #fff;
}

.slider__image {

     width: 95%;
     height: 300px;
     border-radius: 4px;
     object-fit: center;
     box-shadow: 0 3px 10px rgba(245, 238, 238, 0.6);

    
}

.slider__container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

}

.slider__arrows  i{

      color: var(--arrows);
      font-size: 1.5rem;
      cursor: pointer;
      
}